
body{
  background:url(https://lh3.googleusercontent.com/zVrPmNg82ngtUYqojw5r5j_Ot7MhT_NVCJkdls-Ajcc9oPHFZZyIIozP5Fda6eM6-5WwPJL8JtmsFAaSDN47HNTDp5V7WAItSx6-QE60t08OJ7uxGI8uIB7aYTnA0R2UdeCjzCWn5qB4K4TUJBJkPCPvpvTTyxjCrBDHA7sAkDxzZwh1NTOEX9DBs8x-x0x-hT-acBcRnTB-8tE_-gshqUNUbx3g2riPJEWV801fRcowkDQwxX28r5ZBcZRbzS3z8rkJkrhwEU3huG7ojtfdU3XsguBIWUXEB47pvd1GZujBuS5fFu9G14nJaWwO67fCRTzwA8Bp6zHY33TvYRclQ06kTnXmMqz_74klfQX1TBeGil-FoYcdrdgiTHnT5jL9hSQVKJvKkHerwKU5VQc5U-UoQcuZhJkPHqdBiICZBNP6gZkFyPyG63iyXHtMbmR1OeTpBYXAfzOYV8h6UgELYR_1jBBXh3B2F0NtxyrxnIfZEnn7kSnBN7I6Eo6_vDyFZ3bmE7KJqlnliBwNpMsEBMN2Mw-3_idjENAM99q2Cz5E53bhywAI4KZUYkW3JeWQbxuKld2rvCPlg2XFgOWxVQBOxD603mlT9pW0jhJpIPfquNFb-VDbXEu7twmFhOYD62kvMR_vw3wtNuJsMMV2W7tSFzj_ardf=w518-h291-no);
  background-size:cover;

background-repeat:no-repeat;
  
}
h1{
  color:black;
  font-size:50px;
  margin-top: 50px;
  font-family: 'Nosifer',
    cursive;
  background:rgba(255, 255, 255, 0.4);
  border: 20px solid transparent;
    padding: 15px;
    border-image-source: url(https://lh3.googleusercontent.com/w9yxN19pwAfnwqw1r2lrs_tEffT0gWbJ1ei1oW176pTHNoh8ze102V2VmaF2eiRVFgVKimIAVTuJHHa-Ahq1NQcWdgK23SgVq3rN3n4E326p0VsUdjjswhHc2muktdd9qX58v29LcfhvNBPahn87hJLk0jRnrYGWZye54-DHOxrbvBkIo4DRtlv_SVPoGGNc8vusU8qJYaFuBNUVpinmC3RNdSbwklBcSdaLfqqGxGvCLNFJTbgqmJk-IG5rfL0MRxL6OYsCSq4PPu0m-Kbt-YHKoMV8GT-6DYMe4rkI0MGQA_qPbhHJ-hGQgrNC42_NZezjG6eA2zXR2Qr263hXdBXz0yJjsAH247_JlMirfu19S7Xo63btnHIMOwjtyMbnRhq4X5WSo26bF_Jqth4gepqyZCx7hMDOXVDQCH0m6UgrZxUqTApCS4OadADf0qKQkZZdgi446UV3uzE8ejheR9m14fOBcgYdGtaRjFy32Ev3mX3M_AZZcTHOatHNkSi9VNsvidVZ11edYQkE91prkUbs3nopwD_g7Fsw0C95XpSrU-4BEogUsxHVaHSewQmRtYP1aVIzlbPLUGM81q93sPkI6bxNGSyfU4HBFqhCeb_0YLZpOvaJc5gq3QNKniquEXcByGwsnj46fBC0CHa7oid0VCybv53G=w616-h441-no);
    border-image-repeat: round;
   border-image-slice: 80;
    
}
@media screen and (max-width: 640px){
  h1{
    font-size:20px;
  }
    
  
   
  
}
#quoteBox{
  background: white;
  height:300px;
  width:70%;
  margin: 0 auto;
  margin-top:75px;

   border: 20px solid transparent;
    padding: 15px;
    border-image-source: url(https://lh3.googleusercontent.com/w9yxN19pwAfnwqw1r2lrs_tEffT0gWbJ1ei1oW176pTHNoh8ze102V2VmaF2eiRVFgVKimIAVTuJHHa-Ahq1NQcWdgK23SgVq3rN3n4E326p0VsUdjjswhHc2muktdd9qX58v29LcfhvNBPahn87hJLk0jRnrYGWZye54-DHOxrbvBkIo4DRtlv_SVPoGGNc8vusU8qJYaFuBNUVpinmC3RNdSbwklBcSdaLfqqGxGvCLNFJTbgqmJk-IG5rfL0MRxL6OYsCSq4PPu0m-Kbt-YHKoMV8GT-6DYMe4rkI0MGQA_qPbhHJ-hGQgrNC42_NZezjG6eA2zXR2Qr263hXdBXz0yJjsAH247_JlMirfu19S7Xo63btnHIMOwjtyMbnRhq4X5WSo26bF_Jqth4gepqyZCx7hMDOXVDQCH0m6UgrZxUqTApCS4OadADf0qKQkZZdgi446UV3uzE8ejheR9m14fOBcgYdGtaRjFy32Ev3mX3M_AZZcTHOatHNkSi9VNsvidVZ11edYQkE91prkUbs3nopwD_g7Fsw0C95XpSrU-4BEogUsxHVaHSewQmRtYP1aVIzlbPLUGM81q93sPkI6bxNGSyfU4HBFqhCeb_0YLZpOvaJc5gq3QNKniquEXcByGwsnj46fBC0CHa7oid0VCybv53G=w616-h441-no);
    border-image-repeat: round;
   border-image-slice: 80;
  
 
  
}
#newQ{
  color:black;
  font-family: 'Nosifer',
    cursive;
  margin-right:50px;
    float:right;
  font-size: 20px;
  background:violet;
  box-shadow: 2px 2px 5px rebeccapurple;
}
#newQ:hover{
  background:orchid;
}
@media screen and (max-width: 640px){
  button, #newQ, blockquote{
    font-size:10px;
    margin:auto;
    margin-top:15px
  }}
#twitter{
  
  font-family: 'Nosifer',
    cursive;
  margin-left:50px;
  
  height:40px;
  width:40px;
  
}
@media screen and (max-width: 640px){
  #twitter{
    font-size:10px;
    margin:auto;
    margin-top:10px;
  }}
#quoteArea{
  margin: 0 auto;
  margin-top:1%;
  width:69%px;
  height:170px;
}
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
#potato{
  position:relative;
  display:none;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 20s;
    animation-delay: 0.1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:2000px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:2000px; top:0px;}
    
}
}
